
.comp-one-week {
  border: 1px solid red;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;

  .remark-item {
    display: flex;
    padding-left: 70px;
  }
}
